[submodule "external/ArmyAnt.Net"]
	path = external/ArmyAnt.Net
	url = https://github.com/Army-Ant/ArmyAnt.Net
[submodule "res"]
	path = res
	url = https://github.com/Army-Ant/ArmyAntServerResources.git
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	ignore = dirty
[submodule "external/MySqlConnector"]
	path = external/MySqlConnector
	url = https://github.com/mysql-net/MySqlConnector.git
	ignore = dirty
[submodule "external/ArmyAnt.js"]
	path = external/ArmyAnt.js
	url = https://github.com/Army-Ant/ArmyAnt.js.git
